@font-face {
  font-family: UbuntuMono;
  font-weight: 400;
  font-style: normal;
  src: url(./UbuntuMono-Regular.woff);
}

@font-face {
  font-family: UbuntuMono;
  font-weight: 400;
  font-style: italic;
  src: url(./UbuntuMono-Italic.woff);
}

@font-face {
  font-family: UbuntuMono;
  font-weight: 700;
  font-style: normal;
  src: url(./UbuntuMono-Bold.woff);
}

@font-face {
  font-family: UbuntuMono;
  font-weight: 700;
  font-style: italic;
  src: url(./UbuntuMono-BoldItalic.woff);
}
