// nomal
@font-face {
  font-family: Geologica;
  font-weight: 100;
  src: url(./Geologica-Thin.woff);
}

@font-face {
  font-family: Geologica;
  font-weight: 200;
  src: url(./Geologica-ExtraLight.woff);
}

@font-face {
  font-family: Geologica;
  font-weight: 300;
  src: url(./Geologica-Light.woff);
}

@font-face {
  font-family: Geologica;
  font-weight: 400;
  src: url(./Geologica-Regular.woff);
}

@font-face {
  font-family: Geologica;
  font-weight: 500;
  src: url(./Geologica-Medium.woff);
}

@font-face {
  font-family: Geologica;
  font-weight: 600;
  src: url(./Geologica-SemiBold.woff);
}

@font-face {
  font-family: Geologica;
  font-weight: 700;
  src: url(./Geologica-Bold.woff);
}

@font-face {
  font-family: Geologica;
  font-weight: 800;
  src: url(./Geologica-ExtraBold.woff);
}
@font-face {
  font-family: Geologica;
  font-weight: 900;
  src: url(./Geologica-Black.woff);
}

// auto
@font-face {
  font-family: Geologica_Auto;
  font-weight: 100;
  src: url(./Geologica_Auto-Thin.woff);
}

@font-face {
  font-family: Geologica_Auto;
  font-weight: 200;
  src: url(./Geologica_Auto-ExtraLight.woff);
}

@font-face {
  font-family: Geologica_Auto;
  font-weight: 300;
  src: url(./Geologica_Auto-Light.woff);
}

@font-face {
  font-family: Geologica_Auto;
  font-weight: 400;
  src: url(./Geologica_Auto-Regular.woff);
}

@font-face {
  font-family: Geologica_Auto;
  font-weight: 500;
  src: url(./Geologica_Auto-Medium.woff);
}

@font-face {
  font-family: Geologica_Auto;
  font-weight: 600;
  src: url(./Geologica_Auto-SemiBold.woff);
}

@font-face {
  font-family: Geologica_Auto;
  font-weight: 700;
  src: url(./Geologica_Auto-Bold.woff);
}

@font-face {
  font-family: Geologica_Auto;
  font-weight: 800;
  src: url(./Geologica_Auto-ExtraBold.woff);
}
@font-face {
  font-family: Geologica_Auto;
  font-weight: 900;
  src: url(./Geologica_Auto-Black.woff);
}

// cursive
@font-face {
  font-family: Geologica_Cursive;
  font-weight: 100;
  src: url(./Geologica_Cursive-Thin.woff);
}

@font-face {
  font-family: Geologica_Cursive;
  font-weight: 200;
  src: url(./Geologica_Cursive-ExtraLight.woff);
}

@font-face {
  font-family: Geologica_Cursive;
  font-weight: 300;
  src: url(./Geologica_Cursive-Light.woff);
}

@font-face {
  font-family: Geologica_Cursive;
  font-weight: 400;
  src: url(./Geologica_Cursive-Regular.woff);
}

@font-face {
  font-family: Geologica_Cursive;
  font-weight: 500;
  src: url(./Geologica_Cursive-Medium.woff);
}

@font-face {
  font-family: Geologica_Cursive;
  font-weight: 600;
  src: url(./Geologica_Cursive-SemiBold.woff);
}

@font-face {
  font-family: Geologica_Cursive;
  font-weight: 700;
  src: url(./Geologica_Cursive-Bold.woff);
}

@font-face {
  font-family: Geologica_Cursive;
  font-weight: 800;
  src: url(./Geologica_Cursive-ExtraBold.woff);
}
@font-face {
  font-family: Geologica_Cursive;
  font-weight: 900;
  src: url(./Geologica_Cursive-Black.woff);
}
