// app global css in SCSS form
.font-sans {
  font-family: NotoSans;
}

.font-sanskr {
  font-family: NotoSansKR;
}

.font-ubuntumono {
  font-family: UbuntuMono;
}

.border-bottom {
  border-bottom: 1px solid #eee;
}

.font-md {
  font-size: 1rem;
}

.caption {
  font-size: 0.8rem;
}
